@import "../../../assets/scss/mixins";

button {
  margin: 1rem;
}

h1 {
  font-size: large;
  margin: 2rem 0;
}

.bi-airplane-fill {
  transform: rotate(45deg);
  font-size: 25px;
  color: #4badee;
}

.headline-icon-wrapper {
  @include flex-center;
  letter-spacing: 0.15em;
  font-weight: 200;
}

@media (width >=900px) {
  h1 {
    font-size: xx-large;
  }
}
