<div *ngIf="airport$ | async as airport; else noData">
  <div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="iataCode">
          <span>IATA Code</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="iataCode" />

        <div
          class="invalid-control"
          *ngIf="form.controls.iataCode.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="name">
          <span>Name</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="name" />

        <div
          class="invalid-control"
          *ngIf="form.controls.name.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="detailedName">
          <span>Detailed Name</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="detailedName" />

        <div
          class="invalid-control"
          *ngIf="form.controls.detailedName.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="type">
          <span>Type</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="type" />

        <div
          class="invalid-control"
          *ngIf="form.controls.type.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="subType">
          <span>Subtype</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="subType" />

        <div
          class="invalid-control"
          *ngIf="form.controls.subType.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="regionCode">
          <span>Region Code</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="regionCode" />

        <div
          class="invalid-control"
          *ngIf="form.controls.regionCode.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="stateCode">
          <span>State Code</span>
        </label>
        <input type="text" formControlName="stateCode" />
      </div>

      <div class="form-control">
        <label for="countryCode">
          <span>Country Code</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="countryCode" />

        <div
          class="invalid-control"
          *ngIf="form.controls.countryCode.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="countryName">
          <span>Country Name</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="countryName" />

        <div
          class="invalid-control"
          *ngIf="form.controls.countryName.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="cityCode">
          <span>City Code</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="cityCode" />
        <div
          class="invalid-control"
          *ngIf="form.controls.cityCode.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="cityName">
          <span>City Name</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="cityName" />
        <div
          class="invalid-control"
          *ngIf="form.controls.cityName.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="latitude">
          <span>Latitude</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="latitude" />

        <div
          class="invalid-control"
          *ngIf="form.controls.latitude.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="longitude">
          <span>Longitude</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="longitude" />
        <div
          class="invalid-control"
          *ngIf="form.controls.longitude.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="timeZoneOffset">
          <span>Timezone Offset</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="timeZoneOffset" />
        <div
          class="invalid-control"
          *ngIf="form.controls.timeZoneOffset.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <div class="form-control">
        <label for="score">
          <span>Travelers Score</span>
          <span class="asteriks">{{ " " }}*</span>
        </label>
        <input type="text" formControlName="score" />
        <div
          class="invalid-control"
          *ngIf="form.controls.score.errors?.['required']"
        >
          Obavezno polje
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">Spremi izmjene</button>
    </form>
  </div>
</div>

<ng-template #noData>
  <div class="noDataText">Nema podataka.</div>
</ng-template>
