@import "./assets/scss/mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f8fa;
  color: #1c1c34;
}

* {
  box-sizing: border-box;
}

ul,
div {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-weight: 700;
  background-color: #4badee;
  color: #fff;
  border: 1px solid #4badee;
  border-radius: 5px;
  padding: 0.5rem;
}

.invalid-control {
  font-size: 10px;
  position: absolute;
  color: red;
}

input {
  background-color: transparent;
  padding: 0.5rem;
  outline-color: #4badee;
  border: 2px solid #4badee;
  border-radius: 3px;
}

form {
  input:has(+ .invalid-control) {
    outline-color: red;
    border: 2px solid red;
  }

  button:disabled {
    opacity: 0.5;
  }
}

.asteriks {
  color: red;
}

.noDataText {
  @include flex-center;
  margin: 1rem 0;
}
